@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Slab:400,700&subset=latin-ext');

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  /* The html and body elements cannot have any padding or margin. */
}

body{font-family:Roboto, sans-serif;}

header{padding:5px 0;background-color:#2581C4;color:#fff;}
header h1{margin:0;}

h2{margin:20px 0 10px 0;}
#page{margin-top:30px;margin-bottom:50px;}

#form{}
#log{border-left:1px solid #000;background-color:#f8f8f8;}

#invoices{overflow:auto;max-width:100%;max-height:400px;}
#invoices div{border-bottom:1px solid #eee;padding:10px;}
#invoices p{white-space:nowrap;margin:0;}
#invoices del{color:#f00;text-decoration: line-through;}